h1 {
  color: blue;
  background-color: cyan;
  font-size: 20px;
  /* text-decoration: line-through; */
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-align: center;
}
p {
  color: deeppink;
  text-align: justify;
  line-height: 30px;
  letter-spacing: 2px;
  column-count: 3;
  column-gap: 50px;
}
ul {
  /* border-width: 4px;
  border-style: solid;
  border-color: rgb(11, 181, 11); */
  border: 3px solid green;
}
li {
  list-style-type: square;
  /* text-shadow: 2px 2px rgb(83, 83, 83); */
}
span{
  /* display: block; */
  margin: 20px;
  padding:20px;
}
div{
  /* display: inline; */
  margin:20px;
  padding: 20px;
}
p.para{
  color: darkmagenta;
}
p.para.join{
  color: brown;
}
div.para{
  color: greenyellow;
}

.sec1 div p{
  color: black;
}
a[href]{
  background-color:rgb(76, 237, 173) ;
}
a[href="somwhere.com"]{
  background-color: orangered;
  text-decoration: none;
  font-weight: bold;
  text-transform:uppercase
}
/* a[href*="some"]{
  selects the anchor tag which contains the word "some"
}
a[href*=".com"]{
  selects the anchor tag which ends in the word ".com"
} */

